@media (max-width: 768px) {
    html,
    body {
        height: auto;
    }
    .mtt-1 {
        margin-top: 2vw;
    }

    .pisb-logo,
    svg {
        display: none;
    }

    .rclogo {
        height: 40px;
        width: 50px;
        margin-right: 5vw;
    }

    .ml-6 {
        margin-left: 0;
    }

    h4 {
        font-size: 95%;
    }

    svg {
        height: 25px;
        width: 25px;
    }

    .mtt-0 {
        margin-top: 4vw;
    }

    .pll-0 {
        padding-left: 3vw;
    }

    .prr-0 {
        padding-right: 3vw;
    }

    .prl-0 {
        padding-right: 3vw;
        padding-left: 3vw;
    }

    .btn-full {
        width: 100%;
    }

    .z-index {
        z-index: 1111;
    }

    .mt-res {
        margin-top: 1rem;
    }

    .mr-3 {
        margin-right: 0 !important;
    }

    .ppr-0 {
        padding-right: 0;
    }

    .ppr-3 {
        padding-right: 3vw;
    }

    .container-fluid {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .bg-main-nav {
        background-color: #002244;
        border: 1px solid rgb(236, 204, 204);
    }
    .footer-container {
        margin-top: 20px;
    }
    .fixed-bottom {
        position: relative;
    }
    .timer {
        font-size: 4vw;
        width: 15vh;
        left: 0;
    }
    .timer span {
        width: 4vw;
    }
}

@media (max-width: 460px) {
    .timer {
        font-size: 4vw;
        width: 13vh !important;
        left: 0 !important;
    }
    .timer span {
        width: 2.8vw;
    }
    .navbar-brand {
        margin-right: 0 !important;
    }
}

@media (max-width: 345px) {
    .timer {
        font-size: 4vw;
        width: 10vh !important;
        left: 0 !important !important;
    }
    .timer span {
        width: 2.7vw;
    }
    .navbar-brand {
        margin-right: 0 !important;
    }
    .navbar-brand.ml-1 {
        margin-left: 0 !important;
    }
}

@media (max-width: 1350px) {
    .timer {
        width: 40vh;
        left: 30vh;
    }
}

@media (max-width: 1200px) {
    .timer {
        width: 22vh;
        left: 5vh;
    }
}

@media (min-width: 769px) {
    .container.h90 {
        height: 90vh;
    }
}

@media (min-width: 1550px) {
    .timer {
        width: 45vh;
        left: 60vh;
    }
}

