{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

    <!-- Custom CSS  -->
    <link rel="stylesheet" href="{% static 'Users/css/login.css' %}" />

    <title>RC Login</title>

    <SCRIPT type="text/javascript">
        window.history.forward();
        function noBack() { window.history.forward(); }
    </SCRIPT>
</head>

<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
    <div class="main">
        <nav class="navbar navbar-expand-lg navbar-dark item"
            style="background-color: #010c16; font-family: sans-serif; width: 100%; height: 10vh">
            <a class="navbar-brand" href="{% url 'login' %}">
                <img src="{% static 'Users/imgs/rc.jpeg' %}" width="75" height="55" class="d-inline-block align-top"
                    alt="rc logo" />
            </a>
            <div class="pagename" style="font-family: sans-serif; color: #ddd; margin-left: auto">
                <h4>
                    <a class="nav-link" href="#" style="color: #ddd"> Login </a>
                </h4>
            </div>
            <div class="pisblogo" style="margin-left: auto">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'Users/imgs/pisb.jpg' %}" width="150" height="50"
                        class="d-inline-block align-top pisb-logo" alt="pisb logo" />
                </a>
            </div>
        </nav>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 content">
                        <h1>PICT IEEE Student Branch</h1>
                        <p>welcomes you in</p>
                        <h2>RC Round - 2</h2>
                    </div>
                    <hr />
                    <div class="col-md-6 login">
                        <h3>LOGIN</h3>
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="textbox">
                                <input type="text" placeholder="Username" id="usr" name="username" />
                            </div>

                            <div class="textbox">
                                <input type="password" placeholder="Password" id="pwd" name="password" />
                            </div>

                            <!-- apply class "hide-it" to hide error msg -->
                            {% if messages %}
                            {% for message in messages %}
                            {% if message.tags == 'SUCCESS' %}
                            <div class="login-error" style="color: green;">
                                <p style="color: green;">{{ message }}</p>
                            </div>
                            {% else %}
                            <div class="login-error" style="color: red;">
                                <p style="color: red;">{{ message }}</p>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}

                            <div class="category">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio" value="1" />Junior
                                </label>
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio" value="0" />Senior
                                </label>
                            </div>

                            <button type="submit" class="btn mb-0">Enter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="text-center item" style="background-color: #010c16; color: #fff; width: 100%">
            <div class="container-fluid">
                <div class="footer-text pt-3 pb-4" style="font-size: 18px;">&copy<span> PICT IEEE Student Branch</span></div>
            </div>
        </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#proceed").click(function () {
                if ($('#check-box').is(':checked')) {
                    $("#anchor").attr("href", "{% url 'question-hub' %}");
                }
                else {
                    alert('Please tick the checkbox before proceeding.');
                }
            });
        });
    </script>
</body>

</html>
